[user]
	name = Kazuhiro Serizawa
	email = nserihiro@gmail.com
[core]
	autocrlf = false
	excludesfile = ~/.gitignore_global
[credential]
	helper = osxkeychain
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	ec = commit --allow-empty -m \"NOPR: squash me [ci skip]\"  
	fs = hf feature start 
[push]
	default = current
[merge]
	tool = vimdiff
[init]
	defaultBranch = main
[pull]
	ff = only
